@model AdmonEmpleadosModel.Rol
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4>Rol</h4>
    <hr />
    @Html.LabelFor(model => model.nombre)
    @Html.EditorFor(model => model.nombre)
    <br />
    <input type="submit" value="Create" />
}